<header class="main-header">
  <a href="#" class="logo">
    <span class="logo-mini">
      Z
    </span>
    <span class="logo-lg">
      <%# %>
    </span>
  </a>
  <nav class="navbar navbar-static-top">
    <!-- SideBar Toggle -->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle Button</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-right">
      <%# current_user.name %>
    </div>
  </nav>
</header>
