<!-- This partial contains the text that shows the number of items in the cart
When Clicked, it will open up the cartModal -->


<h4 align="center">
  <%= link_to "#{pluralize(@cart.sale_items.size, 'item')} in Cart",
      '#',
      class: 'btn btn-link',
      data: {toggle: 'modal', target: '#cartModal'}   %>
</h4>
