<div class="container">
  <!-- <nav aria-label="breadcrumb"> -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Step 1: create business account</li>
      <li class="breadcrumb-item active">Step 2: create owner profile of the business</li>
    </ol>
  <!-- </nav> -->
</div>
<div class = "col-md-6 offset-md-3">
   <h3 align = "center">Create Owner Profile</h3>
   <%= render 'form' %>
</div>
