$icon-size:				60px;
$backgroundColour: 		#EEE2DC;
$headerColour: 			#AC3B61;
$headerColourSecondary: #BAB2B5;
$accentColour: 			#CAEBF2;
$textColour: 			#123C69;
$white: 				#fff;
$black: 				#000;
$height: 				750px;