<div class="jumbotron">
	<h1>Thank You</h1>
	<p>We're glad that you are using ziada for your business management. We hope you enjoy the experience</p>
	<%= link_to "Create some sales", products_url, class: 'btn btn-primary' %>
</div>
