<%# about page %>
<h2 align="center">What is ziada?</h2>
<p>Ziada is a cloud based software that improves the management of sales, inventory, purchases, accounting and employees in small and medium businesses.</p>
<p>With ziada you never have to use books and pens to manage business procedures. All your data is online and can be accessed anywhere and anytime from any device.</p>
<%= link_to "Features", welcome_features_url, class: 'btn btn-default' %>