  <span class="lead">Total: <span class="subtotal"><%= render 'carts/cart_total' %></span> /-</span> <!-- Render cart total -->
  <div class="cart-item">
    <%= render 'carts/cart_item' %> <!-- render all cart items -->
  </div>
