<h4 align="center">Cart</h4>

  <div class="container">
    <% if (@cart.sale_items.size < 1) %>
      <p>There are no items in cart kindly go back to add some</p>
    <% else %>
      <span class="lead">Total: <%= @cart.total_price %></span>
      <%= render "cart_item" %>
      <br>
      <%= button_to "Empty Cart", @cart, method: :delete, data: {confirm: "Are You Sure?"}, class: "btn btn-danger" %> <br>
      <%= button_to "Checkout", new_sale_url, method: :get, class: "btn btn-primary" %>
    <% end %>

  </div> <!-- /.container -->
