<% title "Ziada | Categories - Edit" %>

<section class="content-header">
  <h3 align="center">Editing Category</h3>
</section>

<section class="content">
  <div class="box box-primary">
    <div class="box box-body">
      <div class="panel panel-primary">
        <div class="panel-body">
          <%= render 'form', category: @category %>
        </div>
      </div>
    </div>
  </div>
</section>
