<% title "Ziada | Categories - New" %>

<section class="content-header">
	<h3 align="center">New Category</h3>
</section>

<section class="content">
	<div class="box box-primary">
		<div class="box-body">
			<ul class="nav nav-tabs">
			  <li class="nav-item">
					<%= link_to 'View Category', admin_categories_url, class: 'nav-link' %>
				</li>
			  <li class="active nav-item">
					<%= link_to 'New Category', new_admin_category_url, class: 'nav-link active' %>
				</li>
			</ul><br>
			<%= render 'form' %>
		</div>
	</div>
</section>
