<div class="nested-fields">
  <div class="fields">
    <div class="fieldset">
      <%= f.label :property, class: "" %>
      <%= f.text_field :property, cols: '20'%>
      <%= link_to_remove_association "Remove Detail", f, class: "btn btn-link" %>
    </div>
  </div>
</div>
