<% title "Ziada | Products - New" %>

<section class="content-header">
	<h3 align="center">New Product</h3>
</section>

<section class="content">
	<div class="box box-primary">
		<div class="box-body">
		  <ul class="nav nav-tabs" role="tablist">
				<li><%= link_to 'All Products', admin_products_url %></li>
				<li class="active"><%= link_to 'New Product', new_admin_product_url %></li>
		  </ul>
		<br>
	    <% #Render Form %>
		  <div class="panel">
				<div class="panel-body">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</section>
