/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


 @import "bootstrap";
 @import "AdminLTE";
 @import "_all-skins";
 @import "font-awesome";
 @import "customer";

 // Variables
 @import "base/variables";

 // Partials
 /*
 @import "layout/navigation";
 */

 @import "layout";
 @import "welcome";
 @import "button";
 @import "posts";
 @import "pagination";

 .spaceabove {
   //margin-bottom: 10px;
 }

#myList {
  list-style-type: none;
}

#sale_footer{
  display: none;
}

@media print{
  #navigation {
    display: none
  }

  #sale_complete_links{
    display: none;
  }

  #sale_footer {
    bottom: 0;
    height: 60px;
    line-height: 60px;
    display: block;
  }
}
