body{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	//margin-top: 20px;
}

#biz-info{
	margin-top: 10px;
	font-style: oblique;
	font-weight: bold;
}

.alert{
	z-index: 999;
	background: rgba(135, 216, 211, 0.85);

	p{
			//padding: 1.75rem 0;
			text-align: center;
			margin: 0;
			font-size: 1.25rem;
			font-weight: 700;
			letter-spacing: 1px;
	}
}

.no-label{
	.control-label{
		display: none;
	}
}
