// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$backgroundColour: #EEE2DC;
$headerColour: #AC3B61;
$headerColourSecondary: #BAB2B5;
$accentColour: #CAEBF2;
$textColour: #123C69;
$white: #fff;
$black: #000;
$height: 750px;
$contentMargin: 50px;

/*
.logo-area {
  text-align: center;
  padding: 35px 0 20px 0;
  .ziada-logo {
      font-family: 'Shadows Into Light Two', cursive;
      font-size: 60px;
      color: $headerColour;
  }
}


#welcome-navigation{
  //margin-bottom: 70px;
  .fa{
    font-size: 20px;
  }

  a{
    font-size: 20px;
    font-style: oblique;
  }
}
*/

#showcase{
	//background-color: $backgroundColour;
  background: image-url('Moss.jpg') no-repeat center center fixed;
	height: $height;
	background-size: cover;
	display: table;
	position: relative;
	width: 100%;
	h1, h2, h3, h4, h5{
		color: $white;
	}
  #hook{
		display: table-cell;
		text-align: center;
		vertical-align: middle;
   }
  p{
    color: $textColour;
  }
 }

#about{
  height: $height;
	width: 100%;
  line-height: 2em;

  #about-content{
    margin-bottom: $contentMargin;
  }

	#about-links {
		margin: 0 auto;
	}

  p{
    color: $textColour;
    font-size: 22px;
  }
}

#features{
  //height: auto;
	width: 100%;

	h1,h5{
		text-align: center;
	}
  .fa{
    font-size: $icon-size;
  }
  .feature-header{
    font-weight: bold;
  }
	.links{
		margin: 0 auto;
	}
}

#contact{
  height: 100px;
  //padding-top: 30px;
  //background-color: $accentColour;
}

#footer{
  background-color: $black;
  p{
    color: $white;
  }
  height: auto;
  padding-top: 10px;
  .telephone{
    list-style-type: none;
    li{
      font-size: 20px;
      color: $white;
    }
  }
  .social-media{
    font-size: 20px;
  }
}
