<div class = "col-md-6 col-md-offset-3">
 <div class = "panel">
  <div class = "panel-heading">
   <h3 align = "center">Edit User</h3>
  </div>
  <div class = "panel-body">
   <%= render 'form' %>
  </div>
 </div>
</div>
