<section class="content">
  <section class="box box-primary">
    <section class="box box-body">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to 'All users', admin_users_url, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'New user', new_admin_user_url, class: 'nav-link active' %>
        </li>
      </ul>
      <div class = "col-md-6 col-md-offset-3">
       <h3 align = "center">Create User</h3>
       <%= render 'form' %>
      </div>
    </section>
  </section>
</section>
