<h1>Editing Supplier</h1>

<section class="content">
  <div class="box box-primary">
    <div class="box box-body">
      
    </div>
  </div>
</section>

<%= render 'form', supplier: @supplier %>

<%= link_to 'Show', @supplier %> |
<%= link_to 'Back', suppliers_path %>
