<div class="container">
	<h3 align="center">Complete Sale</h3>
	<p class="lead"> Total: <span id="total"><%= @cart.total_price %></span></p>
	<p class="lead"> Balance: <span id="balance"></span></p>
	<div class="row">
		<%= render 'form' %>
	</div>
	<br>
</div>
