<div class="container">
	<div class="panel">
		<div class="panel-heading">
			<h5 align="center">Create Account</h5>
		</div>
		<div class="panel-body">
			<%= render 'form'%>
		</div>
		<p>By creating an account you agree to our <%= link_to "Terms and Conditions", welcome_policy_url, tagret: :_blank %> </p>
	</div>
</div>
